/build/
/.dart_tool/
/.gradle/
/android/.gradle/
.flutter-plugins
.flutter-plugins-dependencies
/.idea/
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*
.pub-cache/
.pub/
android/local.properties
ios/Flutter/flutter_export_environment.sh
*.xcconfig